body, html, form {
    margin:0;
    padding:0;
}

body {
    background-color: #a1c7c5;
}

#maket {
    width:100%;
    height: 100%;
    margin:0 auto;
}
#left {
    width:200px;
    height: 100%;
    float:left;
}
#right {
    width:300px;
    float:right;
}
#main {
    margin-left:202px;

}
#content {
    
}
#header {
    text-align: center;
}

#header a {
    text-decoration: none;
    color: #2a31db;
}

div.menu_block {
    text-align: center;
    position: relative;
    width: 200px;
    height: 25%;
}
div.menu_block a {
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #2a31db;
}

div.menu_block a:hover {
    color: #b6514e;
}

div.menu_block a:hover img{
    height: 68%;
}


div.menu_block img {
    vertical-align: middle;
    margin: 2%;
    height: 65%
}

.redtext {
    color: #f50213;
}

div.right_block {
    background-color: #42b68e;
    height: 50%;
}
div.right_block p {
    padding: 0;
    margin: 0;
}

#loginpage {
    width: 320px;
    padding: 144px 0 0;
    margin: auto;
}

#loginpage p {
    padding-left: 20px;
}

#loginpage p label {
    font-size: 14px;
    color: #808488;
}

