body, html, form, table {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    margin:0;
    padding:0;
}

div {
    display: block;
}

body {
    background-color: #a1c7c5;
    height: 100%;
}

#maket {
    width:100%;
    height: 100%;
    margin:0 auto;
}
#left-block {
    width:300px;
    height: 100%;
    float:left;
}

#main {
    margin-left:300px;
    height: 100%;
}

#header {
    text-align: center;
    height: 5%;
}


#content {
    font-size: 16px;
    line-height: 2ex;
    width: 98%;
    height: 95%;
    float: left;
}

#stat-content {
    font-size: 12px;
    line-height: 1ex;
    width: 100%;
}

#range-picker {
    height: 20%;
}

#table-box {
    height: 70%;

}


div.menu_block {
    font-size: 16px;
    text-align: center;
    position: relative;
    height: 25%;
}
div.menu_block a {
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #2a31db;
}

div.menu_block a:hover {
    color: #b6514e;
}

div.menu_block a:hover img{
    height: 68%;
}


div.menu_block img {
    vertical-align: middle;
    margin: 2%;
    height: 65%;
    border: none;
}

.redtext {
    color: #f50213;
}

div.right_block {
    background-color: #42b68e;
    height: 50%;
}
div.right_block p {
    padding: 0;
    margin: 0;
}

body.login {
    height: 100%;
    display: block;
    min-width: 0;
}

#loginpage {
    width: 320px;
    padding: 144px 0 0;
    text-align: center;
    margin: auto;
}

#loginpage p {
    padding-left: 20px;
}

#loginpage p label {
    font-size: 14px;
    color: #808488;
}