{% extends "dojango/base.html" %}
{% block dojango_header_extra %}
    <link href="{{ MEDIA_URL }}jq/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" >
    <link href="{{ MEDIA_URL }}jq/ui.jqgrid.css" media="screen" rel="stylesheet" type="text/css" >

    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}jq/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}jq/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}jq/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}jq/grid.locale-ru.js"></script>
    <style type="text/css">
        html, body { height: 100%; width: 100%; padding: 0; border: 0; }
        #main { height: 100%; width: 100%; padding: 0; border: 0; }
            /*		#header, #mainSplit { margin: 10px; } */
        #leftAccordion { width: 25%; }
        #main .dijitSplitterH { height: 7px }
        #main .dijitSplitterV { width: 7px }

    </style>

    <script type="text/javascript">
        window.__globalList = {dojo: true, dijit: true, dojox: true, djConfig: true};
        for(var i in window){
            window.__globalList[i] = true;
        }
    </script>
    <script type="text/javascript">
        function loadFrameIntoMain(url) {
            dojo.xhrGet({
                url: url,
                load: function(data){
                    if (dojo.byId("dojo_form")) {
                        dojo.forEach(dijit.findWidgets(dojo.byId("dojo_form")), function(w) {
                            w.destroyRecursive();
                        });
                        dojo.destroy("dojo_form");
                    }
                    dojo.byId("content").innerHTML = data;
                    dojo.parser.parse(dojo.byId("dojo_form"));
                }
            });
        }
    </script>
{% endblock %}


{% block dojango_content %}
    <div id="main" dojoType="dijit.layout.BorderContainer">
        <h1 id="header" dojoType="dijit.layout.ContentPane" region="top">PROBILL</h1>
        <div dojoType="dijit.layout.BorderContainer" liveSplitters="false" design="sidebar"
             region="center" id="mainSplit">
            <div dojoType="dijit.layout.AccordionContainer" duration="200"
                 minSize="20" style="width: 300px;" id="leftAccordion" region="leading" splitter="false">
                <div dojoType="dijit.layout.AccordionPane" title="Popups and Alerts">
                    <a onclick="loadFrameIntoMain('/forms/subscriber')">dojo</a>
                </div>
                <div dojoType="dijit.layout.AccordionPane" title="Dojo Tree from Store"></div>
            </div>
            <div dojoType="dijit.layout.BorderContainer" region="center" liveSplitters="false" id='content' style="width: 100%;height: 100%;">
                <h1 id="header2" dojoType="dijit.layout.ContentPane" region="center">

                </h1>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        dojo.require("dijit.layout.AccordionContainer");
        dojo.require("dijit.layout.ContentPane");
        dojo.require("dijit.layout.TabContainer");
        dojo.require("dijit.layout.BorderContainer");
        dojo.require("dijit.form.ValidationTextBox");
        dojo.require("dojox.validate");
        dojo.require("dijit.form.Select");
        dojo.require("dojo.parser");
        dojo.require("dojo.date.locale");
        dojo.addOnLoad(function() {
            dojo.parser.parse(dojo.byId('container'));
        });
    </script>
{% endblock %}