<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/client.css"/>
    <title>Добро пожаловать</title>
</head>
<body>
    <div id="loginpage">
        <form id="loginform" action="login" method="POST">
            <p>
            <label for="user_login">
                Пользователь
                <br>
                <input type="text" name="username" id="user_login" value size="20" tabindex="10">
            </label>
            </p>
            <p>
            <label for="user_password">
                Пароль
                <br>
                <input type="password" name="password" id="user_password" value size="20" tabindex="10">
            </label>
            </p>
            <p>
                <input type="submit" id='submit' value="Вход">
                {% csrf_token %}
            </p>
        </form>
    </div>

</body>
</html>