<html>
<head>
    <title>Личный кабинет</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/client.css"/>
</head>
<body>
<div id="maket">
    <div id="left">
        {% block left_col %}
            <div class="menu_block"><a href="info">Информация и настройки</a></div>
            <div class="menu_block"><a href="money">Баланс и история списания</a></div>
            <div class="menu_block"><a href="stat">Статистика по трафику</a></div>
            <div class="menu_block"><a href="support">Техподдержка</a></div>
        {% endblock %}
    </div>
    <div id="right">
        <div>
            {% block login_info %}
                {% if user.is_authenticated %}
                    {{ user }}
                {% else %}
                    <form action="" method="POST">
                        Имя:<input type="text" id="username"/>
                        Пароль:<input type="password" id="password"/>
                    </form>
                {% endif %}
            {% endblock %}
        </div>
        <div>
            {% block right_link %}
                Ссылки 1
            {% endblock %}
        </div>

    </div>
    <div id="main">
        <div id="header">
            {% block header %}
                <a href="/client" ><h3>Основное меню</h3></a>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
                Контент
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>