<html>
<head>
    <title>Личный кабинет</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/client.css"/>
    {% block ext_title %}{% endblock %}
</head>
<body>
<div id="maket">
    <div id="left">
        {% block left_col %}
            <div class="menu_block">
                <a href="info">
                    <b>Информация и настройки</b>
                    <br/>
                    <img src="{{ MEDIA_URL }}image/client/user_icon_1.png" alt=""/>
                    <br/>
                    <b>{{ user }}</b>
                </a>
            </div>
            <div  class="menu_block">
                <a href="money">
                    <b>Ваш баланс</b>
                    <br/>
                    <img src="{{ MEDIA_URL }}image/client/money_icon_1.png" alt=""/>
                    <br/>
                    <b {% if user.ballace < 0 %}class='redtext'{% endif %}>{{ user.balance }} р</b>
                </a>
            </div>
            <div  class="menu_block">
                <a href="stat">
                    <b>Статистика по трафику</b>
                    <br/>
                    <img src="{{ MEDIA_URL }}image/client/stat_icon_1.png" alt=""/>
                    <br/>
                </a>
            </div>
            <div  class="menu_block">
                <a href="support">
                    <b>Техподдержка</b>
                    <br/>
                    <img src="{{ MEDIA_URL }}image/client/support_icon_1.png" alt=""/>
                    <br/>
                    <b>975911</b>
                </a>
            </div>
        {% endblock %}
    </div>

    <div id="main">
        <div id="header">
            {% block header %}
                <a href="/client" ><h3>Добро пожаловть в личный кабинет пользователя</h3></a>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
                Контент
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>