{% extends "client/main.html" %}

{% block ext_title %}
    <link href="{{ MEDIA_URL }}jq/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" >
    <link href="{{ MEDIA_URL }}jq/ui.jqgrid.css" media="screen" rel="stylesheet" type="text/css" >

    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}jq/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}jq/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}jq/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}jq/grid.locale-ru.js"></script>
    <script type="text/javascript">
        var sdate, edate;
        $(document).ready (function () {
            $('#startpicker').datepicker({
                dateFormat: 'yy-mm-dd',
                currentText: "Now",
                onSelect: function (dateText, inst) {
                    sdate = dateText;
                    $("#asn-table").jqGrid('setGridParam',{url:'stat/json/?' + 'sdate=' + sdate + '&edate=' + edate}).trigger("reloadGrid");
                }
            });
            $('#endpicker').datepicker({
                dateFormat: 'yy-mm-dd',
                currentText: "Now",
                onSelect: function (dateText, inst) {
                    edate = dateText;
                    $("#asn-table").jqGrid('setGridParam',{url:'stat/json/?' + 'sdate=' + sdate + '&edate=' + edate}).trigger("reloadGrid");
                }
            });
            sdate = $('#startpicker').datepicker.currentText;
            edate = $('#endpicker').datepicker.currentText;

            $('#startpicker').datepicker( "setDate" ,sdate);
            $('#endpicker').datepicker( "setDate" ,edate);

            $("#asn-table").jqGrid({
                url:'stat/json/?' + 'sdate=' + sdate + '&edate=' + edate,
                datatype: "json",
                colNames:['Дата и Время','Источник', 'Назначение', 'Количество'],
                colModel:[
                    {name:'datetime',index:'datetime', width:100},
                    {name:'src_ip',index:'src_ip', width:170},
                    {name:'dst_ip',index:'dst_ip', width:100},
                    {name:'count',index:'count', width:100}
                ],
                rowNum:20,
                rowList:[20,50,100],
                pager: '#pager',
                sortname: 'traffic',
                viewrecords: true,
                sortorder: "desc",
                headerWidth: 20,
                autowidth: true,
                autoHeight: false,
                jsonReader: {
                    repeatitems : false,
                    id: "0"
                },
                caption: "Статистика по AS"
            });
            $("#asn-table").jqGrid('navGrid','#pager',{edit:false,add:false,del:false});
        });
    </script>
{% endblock %}
{% block content %}
    <div>Начало: <input type="text" id='startpicker' class="datepicker">
    Конец: <input type="text" id='endpicker' class="datepicker"> </div>
    <div id="table-box"  >
        <table id='asn-table' ></table>
        <div id="pager"></div>
    </div>
{% endblock %}