<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/client_side/css/style.css"/>
    <title>Добро пожаловать</title>
</head>

<body>
<div id="loginbox">
    <div class="logo"></div>
    <h4>{{ message }}</h4>
    <form id="login_form" action="change_password" method="POST">
        <div class="user_password">
            <input type="password" name="password" id="user_password"  tabindex="10" placeholder="ПАРОЛЬ" value="{{ password }}" autocomplete="off">
        </div>
        <div class="user_password">
            <input type="password" name="re_password" id="user_re_password"  tabindex="10"  placeholder="ПОДВЕРЖДЕНИЕ" value="{{ re_password }}" autocomplete="off">
        </div>
        <input type="submit" id='submit' value="Сменить пароль">
        {% csrf_token %}
    </form>

</div>


</body>
</html>
